.list-games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  width: 100%;
  margin: 15px 0;
  gap: 16px;
}

.game {
  display: inline-block;
  max-width: 365px;
  min-height: 401px;
  max-height: 401px;
  border-radius: 15px;
  margin: 0px auto;
  color: #000000;
  background-color: #8d99ae;
  border: 1px solid #ef233c;
  box-shadow: 1px 0px 5px #ef233c;
}

.game img {
  cursor: pointer;
  object-fit: contain;
  border-radius: 15px 15px 0 0;
  width: 365px;
  height: 206px;
}

.game-info {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.game-info a {
  height: 80px;
  max-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #2b2d42;
  transition: all 200ms;
}

.game-info a:hover {
  color: #d90429;
}

.game-info a h4 {
  width: 100%;
}
.game-info-small {
  display: flex;
  justify-content: space-between;
}

.game-info-small small {
  font-weight: bold;
  font-style: italic;
  padding: 5px 10px;
}

.game-info p {
  width: 90%;
  font-size: 0.5em;
  padding-bottom: 10px;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-page {
  height: 70vh;
  width: 100%;
}

.game-page .game {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

i {
  font-size: 88px;
}

@media (max-width: 1000px) {
  .game-info p {
    font-size: 0.6em;
  }
}

@media (max-width: 780px) {
  .game-info p {
    font-size: 0.7em;
  }
}

@media (max-width: 400px) {
  .list-games {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .game {
    width: 300px;
    min-height: 270px;
    padding-bottom: 2%;
    display: flex;
    flex-flow: column nowrap;
  }
  .game img {
    width: 299px;
    height: 100%;
  }
  .game-info a {
    height: auto;
    padding-bottom: 5px;
  }
  .game-info p {
    font-size: 0.8em;
  }
}
