* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #edf2f4;
  font-weight: bold;
  font-size: 32px;
  padding: 0 10px;
  transition: all 200ms;
}

a:hover {
  color: #d90429;
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-content {
  
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #edf2f4;
}

#header {
  position: sticky;
  top: 0;
  background-color: rgb(43, 45, 66, 0.8);
  max-height: 80px;
  width: 100%;
  padding: 10px 0;
}

#container {
  width: 95%;
  min-height: 90vh;
  margin: 0px auto;
}
